@media only screen and (max-width: 1140px){
	.navbar{
		display: none;
	}
	.home{
		width: 100%;
		display:block;
	}
	.home .social{
		height: 200px;
		display:flex;
		width: 100%;
		text-align: center;
		margin:0;
		padding-left:140px;
		padding-bottom: 40px;
	}
	.home .social i{
	margin: 2px 0 12px 100px;
	font-size: 60px;
	color: #1d754d;
}
.home .responsive-pic{
	width: 100%;
	text-align: center;
}
.home .responsive-pic img{
	display: block;
	height: 500px;
	width: 500px;
	margin: 100px 0 20px 240px;
}
.home .picture img{
	display: none;
}
.home .bio{
	height: 700px;
	width: 100%;
	padding: 100px;
	margin: 30px 0 0 0px;
}
.home .bio h1{
	font-size: 80px;
}
.home .bio span{
	font-size: 50px;
}
.home .bio p{
	font-size: 40px;
}
.home .bio button{
	margin-top: 40px;
	margin-left: 10px;
	height: 100px;
	width: 320px;
	font-size: 38px;
	border: none;
	cursor: pointer;
	color: white;
	background: #1d754d;
	border-radius: 5px;
}
.mobile-nav{
	width: 100vw;
	height: 150px;
	position: fixed;
	bottom: 0;
	display: inline-flex;
	background: white;

}
.mobile-nav .logo h1{
	color: grey;
		margin: 30px;
	font-size: 60px;
}
.mobile-nav .logo span{
	color:  #1d754d;
}
.mobile-nav .menu{
	margin-left: 50%;
}
.mobile-nav .menu i{
	margin: 30px 0 0 50px;
	font-size: 60px;
}
.mobile-items{
	position:fixed;
	height: 40%;
	background: white;
	width: 100%;
	bottom: 150px;
	text-align:center;
	border-radius:20px 20px 0 0;
	border: 0.5px solid #1d754d;
}
.mobile-items .item-up{
	display: inline-flex;
	width: 100%;
	height: 50%;
	text-align: center;
}
.mobile-items .item-up .item-box{
height: 100%;
width: 33.3%;
}
.mobile-items .item-up .item-box:hover{
	background: rgba(0,150,0,0.04);
}
.mobile-items .item-up .item-box p{
	font-size: 44px;
	margin-top: 10%;
}
.mobile-items .item-up .item-box i{
	margin-top: 46%;
	font-size: 70px;
}
.mobile-items .item-up .item-box p:hover{
	color:#1d754d;
}
.mobile-items .item-up .item-box i:hover{
	color:#1d754d;
}
.mobile-items .close i{
	font-size: 80px;
	position: absolute;
	top: 35px;
    left: 88%;
}
.about .about-text{
	display:grid;
	text-align: center;
	padding: 50px 100px 50px 100px;
}
.about{
	margin-top: 0%;
	width: 100%;
	height: 65vh;
}
.about .title span{
	color: #1d754d;
	font-size: 80px;
}
.about .title h1{
	font-size: 60px;
}
.about .title p{
	font-size: 32px;
	color: grey;
	font-weight: bold;
}
.about .about-text .about-pic img{
	height: 500px;
	width: 500px;
}
.about .about-text .about-detail p{
	font-size: 40px;
}
.about .about-text .about-detail{
	margin:30px 0 0 0px;
}
.about .about-text .about-detail .experience .box h1{
	font-size: 60px;
}
.about .about-text .about-detail .experience .box p{
	font-size: 40px;
}
.about .about-text .about-detail button{
    height: 100px;
	width: 320px;
	font-size: 38px;
	border: none;
	cursor: pointer;
	color: white;
	background: #1d754d;
	border-radius: 5px;
	margin-top:80px;
}
.skill .title h1{
	font-size: 80px;
}
.skill .title p{
	font-size: 32px;
	color: grey;
	font-weight: bold;
}
.skill{
	width: 100%;
	padding-bottom: 30px;
}
.skill .card{
	width: 100%;
	display:block;
	text-align: center;
}
.skill .card .skill-card{
	margin-left: 3%;
	margin-bottom: 100px;
}
.skill .card .skill-detail .box .html h1{
	margin-top: 35px;
	font-size: 40px;
}
.skill .card .skill-detail .box .html p{
		margin-top: 35px;
	font-size: 40px;
}
.skill .skill-card{
    height: 600px;
	width: 750px;
}
.skill .skill-card .skill-title h1{
	font-size: 40px;

}
.skill .skill-card .skill-title i{
	font-size: 50px;
}
.skill .skill-card .skill-title span{
	font-size: 40px;
}
.skill .card .skill-detail .box .line{
	width: 100%;
	height: 20px;
	margin-top: 15px;
}
.skill .card .skill-detail .box .line .per-line{
	width: 80%;
	height:20px;
}
.education{
	margin-top: 100px;
	padding-bottom: 40px;
}
.education .title span{
	color: #1d754d;
	font-size: 80px;
}
.education .title h1{
	font-size: 60px;
}
.education .title p{
	font-size: 32px;
	color: grey;
	font-weight: bold;
}
.education .education-detail{
	width: 100%;
	display: grid;
	padding: 5% 10% 10% 10%;
	text-align: center;
}
.education .education-detail .education-box{
	width: 100%;
	height: 400px;
	margin: 0px 0 40px 0;
}
.education .education-detail .education-box .education-title{
	width: 100%;
	height: 100px;
	padding: 10px 2px 2px 2px;
	font-size: 26px;
}
.education .education-detail .education-box .pass p{
	margin-bottom: 10px;
	font-size: 40px;
}
.service .title span{
	color: #1d754d;
	font-size: 80px;
}
.service .title h1{
	font-size: 60px;
}
.service .title p{
	font-size: 32px;
	color: grey;
	font-weight: bold;
}
.service .service-detail{
	width: 100%;
	display: grid;
	text-align: center;
	padding: 2% 10% 20% 10%;
}
.service .service-detail .service-box{
	height: 450px;
	width: 100%;
	margin: 30px 20px 0 0;
	padding: 80px 30px 30px 30px;
	border-radius: 10px;
	box-shadow:0px 10px 20px -10px rgba(0,0,0,0.5);
}
.service .service-detail .service-box i{
	font-size: 60px;
	color: #1d754d;
}
.service .service-detail .service-box a{
	font-size: 40px;
	text-decoration: none;
	color: grey;
}
.service .service-detail .service-box h1{
	font-size: 70px;
}
}