@media only screen and (max-width: 1140px){
	.navbar{
		display: none;
	}
	.home{
		width: 100%;
		display:block;
	}
	.home .social{
		height: 200px;
		display:flex;
		width: 100%;
		text-align: center;
		margin:0;
		padding-left:120px;
		padding-bottom: 40px;
	}
	.home .social i{
	margin: 2px 0 12px 100px;
	font-size: 60px;
	color: #1d754d;
}
.home .responsive-pic img{
	display: block;
	height: 500px;
	width: 500px;
	margin: 100px 0 20px 200px;
}
.home .picture img{
	display: none;
}
.home .bio{
	height: 800px;
	width: 100%;
	padding: 100px;
	margin: 30px 0 0 0px;
}
.home .bio h1{
	font-size: 80px;
}
.home .bio span{
	font-size: 50px;
}
.home .bio p{
	font-size: 40px;
}
.home .bio button{
	margin-top: 40px;
	margin-left: 10px;
	height: 100px;
	width: 320px;
	font-size: 38px;
	border: none;
	cursor: pointer;
	color: white;
	background: #1d754d;
	border-radius: 5px;
}
.mobile-nav{
	width: 100%;
	height: 150px;
	position: fixed;
	bottom: 0;
	display: inline-flex;
	background: white;

}
.mobile-nav .logo h1{
		margin: 30px;
	font-size: 60px;
}
.mobile-nav .logo span{
	color:  #1d754d;
}
.mobile-nav .menu{
	margin-left: 55%;
}
.mobile-nav .menu i{
	margin: 30px 0 0 20px;
	font-size: 60px;
}
.mobile-items{
	position: absolute;
	background: white;
	height: 100vh;
	width: 0%;
	text-align:center;
}
.mobile-items ul{
	margin-top:60%;
}
.mobile-items ul li{
	list-style: none;
	margin: 50px;
	font-size: 50px;
}
.mobile-items ul li a{
	text-decoration: none;
	color:black;
}
.mobile-items ul li a:hover{
	border-bottom: 2px solid #1d754d;
	color: #1d754d;
}
.mobile-items .close i{
	font-size: 80px;
	position: absolute;
	top: 70px;
	left: 85%;
}
}